doctype html
html(lang="en")
  head
    title Home
    meta(charset="UTF-8")
    meta(name="author", content="Correy Winke")
    meta(name="language", content="english")
    meta(name="description", content="Help person find where to start with a topic")
    meta(name="abstract", content="Main page")
    link(href='http://fonts.googleapis.com/css?family=PT+Serif', rel='stylesheet', type='text/css')
    link(rel="icon", type="image/x-icon", href="images/favicon.ico")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="shortcut icon", type="image/x-icon", href="images/favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet', type='text/css')
    link(rel="stylesheet", type="text/css", href="dist/done/final.css")
    script(src="dist/done/rLib.js", type="text/javascript")

  body
    #container

      section#myStuff

      aside#socialMedia.asider
        a(target="_blank", rel="noopener noreferrer", href="https://www.facebook.com/profile.php?id=100009007188851")
          img(src="images/fb.png", alt="Facebook")
        a(target="_blank", rel="noopener noreferrer", href="https://www.linkedin.com/in/correy-winke-9b2734118?trk=nav_responsive_tab_profile_pic")
          img(src="images/lin.png", alt="Linkden")

      #demo-toast-example.mdl-js-snackbar.mdl-snackbar
        .mdl-snackbar__text
        button.mdl-snackbar__action(type="button")


      footer
        p Correy Winke, &copy;	 2016.

    script(src="dist/done/my-stuff.js", type="text/javascript")
