doctype html
html(lang="en")
  head
    title Thank you
    include ../includes/top.pug
    div.pageContent#pageThnak
      div#reactThank
    include ../includes/aside.pug
    include ../includes/footer.pug
