aside#socialMedia.asider
  a(target="_blank", rel="noopener noreferrer", href="https://www.facebook.com/profile.php?id=100009007188851")
    img(src="../images/fb.png", alt="Facebook")
  a(target="_blank", rel="noopener noreferrer", href="https://www.linkedin.com/in/correy-winke-9b2734118?trk=nav_responsive_tab_profile_pic")
    img(src="../images/lin.png", alt="Linkden")
