meta(charset="UTF-8")
meta(name="author", content="Correy Winke")
meta(name="language", content="english")
meta(name="description", content="Help person find where to start with a topic")
meta(name="abstract", content="Main page")
link(href='http://fonts.googleapis.com/css?family=PT+Serif', rel='stylesheet', type='text/css')
link(rel="icon", type="image/x-icon", href="../images/favicon.ico")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="shortcut icon", type="image/x-icon", href="../images/favicon.ico")
link(href='https://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet', type='text/css')
link(rel="stylesheet", type="text/css", href="../dist/done/final.css")
script(src="../dist/done/rLib.js", type="text/javascript")

body
#container
